includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    # You can currently choose from 10 levels (0 is the loosest and "max" is the strictest).
    level: max

    paths:
        - Core
        - html

    fileExtensions:
        - php

    excludePaths:
        - vendor/
        - Core/Frameworks/BaikalAdmin/Resources/GlyphiconsPro/generate-sprite.php
        - Core/Resources/Web/BaikalAdmin/GlyphiconsPro/generate-sprite.php
        - html/res/core/BaikalAdmin/GlyphiconsPro/generate-sprite.php

    # Ignored errors
    ignoreErrors:
